.calendar_container {
  position: relative;
  margin-top: 5em;
  margin-left: 30em;
}
.calendar {
  position: absolute;
}
.timesheet_container {
  position: relative;
  display: flex;
  overflow: scroll;
  width: 500px;
  height: 130px;
  align-items: center;
}
.timesheet_item {
  padding: 1rem;
  width: 100%;
  height: 50px;
  border: solid 1px;
  margin-left: 5px;
  transition: transform 0.1s;
}
.timesheet_item_unclickable {
  padding: 1rem;
  width: 100%;
  height: 50px;
  border: solid 1px;
  margin-left: 5px;
  background-color: red;
}

.timesheet_item:hover {
  cursor: pointer;
  transform: scale(1.2);
}
